html, body {
  height: 100%;
  width: 100%;
}

.content {
  margin: 50px 50px 20px;
  border: 2px solid #006599;
  border-radius: 10px;
  padding: 10px;
  color: red;
}

.header {
  color: #9f9393;
border: 1px solid;
padding: 10px;
max-height: 120px;
max-width: 300px;
margin-left: auto;
margin-right: auto;
border-radius: 20px;
border-color: rgb(105, 153, 190);
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #0087cc;
	text-align: center;
	font-size: 50px;
font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
font-weight: 900;
letter-spacing: -0.02em;
line-height: 130%;
font-weight: 500;
}

body {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: white;
  background-origin: padding-box;
  background-size: auto;
}

.add-todo .txt {
  padding: 10px;
}

.todo-list, .add-todo {
  list-style-type: none;
  text-align: left;
}

.todo-list li {
  padding: 10px 80px 10px 10px;
  margin: 4px 0;
  border: 1px solid #0087cc;
  width: 35%;
  position: relative;
  min-height: 120%;
  cursor: pointer;
  border-radius: 6px;
  padding: 14px;
  color: black;
}

.todo-list li .bt {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  width: 100px;
    transition-property: width;
    transition-duration: 0.5s;

}

.todo-list li .bt:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(1px);
}

.todo-list li .bt:hover {
  width: 120px;
}

.txt {
  background: transparent;
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #006599;
  width: 20%;
  font-size: 16px;
  position: relative;
  min-height: 100%;
}