<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body data-ng-app="Todo">
    <div class="page-container" data-ng-controller="TodoCtrl">
        <div class="header"> 
        <h2>To Do List</h2>
    </div>

<div class="content">
        <ul class="todo-list" data-ng-repeat="todo in todos track by $index">
            <li>
                <span>{{ todo }}</span>
                <button class="bt bt-achieve" ng-click="done(todo)">Done</button>
            </li>
        </ul>

        <ul class="add-todo">
            <li>
                <input type="text" class="txt" data-ng-model="newTodo" placeholder="New To Do Task" data-ng-keyup="add($event)" />
            </li>
        </ul>
    </div>

    </div>

    <script src="scripts/angular.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>